services:
  postgres:
    image: 'postgres:17.0-alpine3.20'
    container_name: 'postgresTFG'
    environment:
      - 'POSTGRES_DB=postgresTFG'
      - 'POSTGRES_PASSWORD=postgres'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'
    volumes:
      - 'postgres-data:/var/lib/postgresql/data'

volumes:
  postgres-data:
